# For Loop Gauntlet

The goal of this assignment is to make you a master of utilizing for loops.
Complete all the for loop challenges on the paper. please read each challenge
carefully and make sure that your for loops display exactly what is asked. If
you finish them all, try the bonus challenge.

## Single for-loops

Write a for loop to do each the following

Display all numbers from 0 to 100

In [ ]:
# Display all numbers from 0 to 100 

for i in range (1, 101):
    print(i)

Display all numbers from 100 to 0

In [ ]:
# Display all numbers from 100 to 0

Display all even numbers from 2 to 100

In [ ]:
# Display all even numbers from 2 to 100

Display all odd numbers from 1 to 99

In [ ]:
# Display all odd numbers from 1 to 99

Display all numbers from 1 to 40. if the number is odd, print "odd" next to the number. if the number is even, print "even" next to the number.  
eg:  
 1 is odd  
 2 is even  
 3 is odd  
 4 is even  
 5 is odd...etc.

In [ ]:
# Display all numbers from 1 to 500.

Display all multiples of 7 from 0 to 70

In [ ]:
# Display all multiples of 7 from 0 to 777

Print all the years you were alive and how old you were in each. e.g. "in 1979, i was 2 years old." (for a really old person)

In [ ]:
# Your Code Here

## Nested for-loops

Write nested for loops (a for loop inside another for loop). Here is an example of nested loops.

In [ ]:
# Examples of Nested Loops

for i in range(8):
    for j in range(8):
        print(f"({i},{j})", end= ' ')
    print()

For your first nested loop, display this output:  

```
0  0  
0  1  
0  2  
1  0  
1  1  
1  2  
2  0  
2  1  
2  2
```

In [ ]:
# Display the output shown above

Display the numbers 1 through 9 in a 3x3 square grid like this:  

```
1  2  3  
4  5  6  
7  8  9  
```

In [ ]:
# Display the numbers 1 through 9 in a 3x3 square grid

Display the numbers 1 through 100 in a 10x10 square grid.

In [ ]:
# Display the numbers 1 through 100 in a 10x10 square grid.

Display the following output:  

```
*  
*  *  
*  *  *  
*  *  *  *  
*  *  *  *  *  
*  *  *  *  *  *
```

In [ ]:
# Display the asterisk pattern shown above